html, body{
    height:100%;
    margin:0;
}
/* .content{
    min-height: calc(85vh - 10px);
} */
.landing-container{
    margin-top:20px;
}
.navigation-container{
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1;
}
.footer-container{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    background-color:#EE6E73;
    box-shadow: 5px 10px 10px 10px #888888;
}
.footer-text{
    text-align:center;
    color:#FFF;
}
.container{
    padding-top:65px;
    padding-bottom:60px;
}
.brand-logo{
    margin-left:20px;
}
.delete{
    color:#EE6E73;
    float:right;
}
.check{
    color:greenyellow;
    float:right;
}
.loadList-appear{
    opacity: 0;
}

.loadList-appear.loadList-appear-active {
    opacity: 1;
    transition: all 0.4s linear;
}

.loadList-enter {
    opacity: 0;
}
.loadList-enter.loadList-enter-active {
    opacity: 1;
    transition: all 0.4s linear 0.4s;
}
.loadList-leave {
    opacity: 1.0;
    position:absolute
}
.loadList-leave.loadList-leave-active {
    opacity: 0;
    transition: all 0.4s linear;
    position:absolute;
}